
@{
    ViewBag.Title = "Reportes";
}



<div class="card border-0 ml-4 mt-4 margin-l mb-3 ">
    <div class="card-body fuente">
        <div class=" card-header bg-dark text-white">
            <h5><i class="fas fa-table"> Reporte de deudas por ruta</i></h5>
        </div>
        <hr style="border-style: dashed;" />
        <div class="row">
            <div class="row  col-8">
                <div class="col-sm-3 mb-3">
                    <label>Año</label>
                    <select id="ddAnnio" class="form-control form-control-sm ">
                    </select>
                </div>
                <div class="col-sm-3 mb-4 ">
                    <label>Mes Inicial</label>
                    <select id="ddMes" class="form-control form-control-sm">
                    </select>
                </div>
                <div class="col-sm-3 mb-4 ">
                    <label>Mes Final</label>
                    <select id="ddMesF" class="form-control form-control-sm">
                    </select>
                </div>
                <div class="col-sm-3 mb-4 ">
                    <label>Ruta</label>
                    <select id="ddUrbanizacion" class="form-control form-control-sm ">
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="d-flex justify-content-end mt-2">
                    <div class="searchbar mr-4 mt-2">
                        <input class="search_input" type="text" id="txtFilter" name="" placeholder="Buscar...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>

                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm  table-striped table-responsive-sm" id="allGrilla">
                <thead>
                    <tr class="bg-info text-light">
                        <th scope="col">Cliente</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">Medidor</th>
                        <th scope="col">Lec. Anterior</th>
                        <th scope="col">lec. Actual</th>
                        <th scope="col">Consumo</th>
                        <th scope="col">Total a Pagar</th>
                        <th scope="col">Periodo</th>
                        <th scope="col">OpcioneSS</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<script>

    var tabla;
    var tabla2;

    $(document).ready(function () {
        $("#ddAnnio").change(function () {
            ListaddMeses();
            ListaddMesesF();
        });
        ListarAnnio();
        ListaddMeses();
        ListaddMesesF();
        ListUrbanizacion();
        $(document).on('change', '#ddAnnio, #ddMes,#ddMesF, #ddUrbanizacion', function () {

            if ($("#ddAnnio").val() > 0 && $("#ddMes").val() > 0 && $("#ddMesF").val() > 0 && $("#ddUrbanizacion").val() > 0) {
                ListarFacturacion();
            }
        });
    });

    function ListarFacturacion() {

        tabla = $('#allGrilla').DataTable({
            "destroy": true,
            "dom": 'Bfrtip',
            //"bPaginate": false,
            "lengthMenu": [[10, 30, 50, -1], [10, 30, 50, "All"]],
            "searching": false,
            "language": {
                "url": "https://cdn.datatables.net/plug-ins/1.10.24/i18n/Spanish.json"
            },
            "drawCallback": function () {
                $('.page-link').addClass('btn-sm  border-0')
            },

            "serverSide": true,
            "processing": true,
            "orderable": false,
            "ajax": {
                "url": '@Url.Content("~/Reportes/ListMainReporte")',
                "type": 'POST',
                "data": function (d) {
                    return $.extend({}, d, {

                        Annio: $("#ddAnnio").val() == "" ? null : $("#ddAnnio").val(),
                        Mes: $("#ddMes").val() == "" ? null : $("#ddMes").val(),
                        MesF: $("#ddMesF").val() == "" ? null : $("#ddMesF").val(),
                        UrbanizacionId: $("#ddUrbanizacion").val() == "" ? null : $("#ddUrbanizacion").val(),
                        FilterNombre: $("#txtFilter").val() == "" ? null : $("#txtFilter").val(),
                    });
                },
                "dataSrc": "data",
                "responsivePriority": 1,
                //"pageLength": 10
            },

            "columns": [
                { "data":"NombreCompleto" },
                { "data":"DireccionStr" },
                { "data":"NumeroMedidor" },
                { "data":"CantidadLecturaAntigua" },
                { "data":"CantidadLectura" },
                { "data":"Consumo" },
                { "data": "TotalPagar", "sClass": "font-weight-bold" },
                { "data": "Periodo" },
              /*  //*/{ "data": "Total" },
                //{
                //    "data": "id", "render": function (data, type, row, meta) {
                //        return "<i class='text-center text-warning fas fa-print mr-3' onClick='Print(" + JSON.stringify(row) + ")'></i> </a>"+
                //            "<i class='text-success fab fa-readme mr-3' onClick='Read(" + JSON.stringify(row) + ")'></i>"
                //        //"<i class='text-warning fas fa-lightbulb ' onClick='StatusUpdate(" + JSON.stringify(row) + ")'></i>"
                //    }
                //},

            ]
        });

        tabla.draw();
        $("#txtFilter").bind("keyup change", function () {
            tabla.draw();
        })
    }

    function Print() {

    }
    function Read(dCliente) {

        $("#modal_aside_right").modal('show');

        $("#txtClienteId").val(dCliente.ClienteId);
        $("#txtCodigo").val(dCliente.CodigoCliente);
        $("#txtNombre").val(dCliente.NombreCompleto);
        $("#txtDireccion").val(dCliente.DireccionStr);
        $("#txtServicio").val(dCliente.ServicioNombre);
        $("#txtTarifa").val(dCliente.TipoCategoria);
        $("#txtMedidor").val(dCliente.NumeroMedidor);

        ListHLecturas();
    }

       function ListarAnnio() {
        var comboAnnio = $("#ddAnnio");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Content("~/Common/ListAnnio")',
            async: false,
            success: function (dataObject) {
                var data = dataObject;
                if (data != null) {
                    comboAnnio.html('');
                    comboAnnio.append($("<option />").val("").text('--Seleccione--'));
                    $.each(data, function () {
                        comboAnnio.append($("<option />").val(this.Value).text(this.Text));
                    })
                }
            }
        });
    }

    function ListaddMeses() {
        var comboMes = $("#ddMes");
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Common/ListMes")',
            dataType: "json",
            data: JSON.stringify({ Annio: $("#ddAnnio").val() }),
            async: false,
            success: function (dataObject) {
                var data = dataObject;
                if (data != null) {
                    comboMes.html('');
                    comboMes.append($("<option />").val("").text('--Seleccione--'));

                    $.each(data, function () {
                        comboMes.append($("<option />").val(this.Value).text(this.Text));
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }

     function ListaddMesesF() {
        var comboMes = $("#ddMesF");
        $.ajax({
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            url: '@Url.Content("~/Common/ListMes")',
            dataType: "json",
            data: JSON.stringify({ Annio: $("#ddAnnio").val() }),
            async: false,
            success: function (dataObject) {
                var data = dataObject;
                if (data != null) {
                    comboMes.html('');
                    comboMes.append($("<option />").val("").text('--Seleccione--'));

                    $.each(data, function () {
                        comboMes.append($("<option />").val(this.Value).text(this.Text));
                    });

                }
            },
            error: function (xhr, ajaxOptions, thrownError) {

            }
        });
    }

    function ListUrbanizacion() {
        var comboUrbanizacion = $("#ddUrbanizacion");
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '@Url.Content("~/Common/ListarUrbanizacion")',
            async: false,
            success: function (dataObject) {
                var data = dataObject;
                if (data != null) {
                    comboUrbanizacion.html('');
                    comboUrbanizacion.append($("<option />").val("").text('--Seleccione--'));

                    $.each(data, function () {
                        comboUrbanizacion.append($("<option />").val(this.UrbanizacionId).text(this.NombreUrbanizacion));
                    })
                }
            }
        });
    }

    function ClenaCombo() {

        $("#ddAnnio").val('');
        $("#ddMes").val('');
        $("#ddMesF").val('');
        $("#ddUrbanizacion").val('');
    }
    function Clena() {
        $("#txtClienteId").val("");
        $("#txtCodigo").val("");
        $("#txtNombre").val("");
        $("#txtDireccion").val("");
        $("#txtServicio").val("");
        $("#txtTarifa").val("");
        $("#txtMedidor").val("");
    }
</script>